<fieldset class="new_choice">
  <%= f.label :name, "Choice" %>
  <%= f.text_field :name %>
  <label>Correct Answer? <input type="radio" name="is_correct"/></label>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Choice", '#', class: "remove_fields btn btn-mini btn-danger" %>
</fieldset>

