<p>Here's a summary of your progress.</p>

<table>
  <tr>
    <th>Quiz</th>
    <th>Score</th>
  </tr>   
    <% @user_quizzes.each do |user_quiz| %>
      <tr>
        <td><%= user_quiz.quiz.name %></td>
        <td><%= link_to "#{user_quiz.num_correct} / #{user_quiz.total_questions}", score_path(user_quiz.quiz.id) %></td>
      </tr>
    <% end %>
</table>