<p>Here's a summary of your progress.</p>
      <table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>   
    <% @quizzes.each do |quiz| %>
      <% if current_user.has_taken?(quiz) %>
      <tr>
        <td><%= quiz.name %></td>
        <td><%= quiz.description %></td>
        <td><%= link_to "Result", score_path(quiz.id) %></td>
      </tr>
      <% end %>
    <% end %>
</table>