<h2> 404 </h2>

<div class="row">
<div class="span12">

  <h3> We're sorry </h3>
  <p>
    You are unable to access this page  :(
  </p>
  <p>
    Want to
    <a href=<%=root_path%> >go back to our home page
    and try again?</a>
  </p>

</div>
</div>