<h1>Listing takequizzes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @takequizzes.each do |takequiz| %>
  <tr>
    <td><%= link_to 'Show', takequiz %></td>
    <td><%= link_to 'Edit', edit_takequiz_path(takequiz) %></td>
    <td><%= link_to 'Destroy', takequiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Takequiz', new_takequiz_path %>
