<p>
  You've been invited to join <%= @organization.name %>'s Open Exam group.
</p>

<p>
  Visit <%= link_to "here", new_user_url %> to join!
</p>

<p>
  Please use this invite code when you register: <%= @organization.invite_code %>
</p>