#new_answer .radio {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px dotted #DDD;
  margin:0;
}

#new_answer .radio:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.italic {
  font-style: italic;
}

.width_of_progress_bar_wrapper {
  width: 100%; 
  background-color: #f8f8f8;
}

.width_of_progress_bar_piece {
  background: url('/assets/nyan-octocat-bg.gif');
  height:64px;
}

#choices_list {
  margin-left:40px;
  border: 1px solid #DDD;
/*  -moz-border-radius: 15px;
  border-radius: 15px;*/
}
#choices_list li {
  border-bottom: 1px solid #DDD;
}
#choices_list li:last-child {
  border-bottom: none;
}
#choices_list label {
  padding: 8px;
  margin: 0;
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
#choices_list label:hover {
  color: #fff;
  background-color: #03B2FF;
/*  -moz-border-radius: 15px;
  border-radius: 15px;*/
  cursor:hand;
  cursor:pointer;
}
.selected_choice {
  color: #000;
  background-color: #FDE6A2;
/*    -moz-border-radius: 15px;
  border-radius: 15px;*/
}