// Place all the styles related to the choices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.correct_answer {
  color:green;
  font-weight: bold;
}

.stats_highlights {
  background: #E0EBFF;
  -moz-border-radius: 4px;
  border-radius: 4px;
}