.navbar .nav .active {
  background-color: #111;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar nav li a {
  font-size: 16px !important;
}
.navbar img.user_nav_photo {
  margin-top: -8px;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 20px;
}


.new_question_for_quiz #new_choice_fields {
  width: 200px; 
  float: right; 
  padding-top: 1%;
}

.new_question_for_quiz .new_choice {
   float: right; 
   width: 200px; 
   padding-bottom:16px;
}

.quiz_listing, .quiz_info {
  margin-left: 40px;
}

.quiz_description {
  font-style: italic;
}