

#score {
  float: right;
  padding-right: 100px;
  color: green;
  font-weight: bold;
  font-size: 300%;
}

.admin-question form {
  float: right;
}

.admin-question .edit-question {
  float:right;
}