

#score {
  float: right;
  padding: 20px 10px;
  margin-right: 100px;
  color: green;
  font-weight: bold;
  font-size: 300%;
  border: 2px solid black;
}

.admin-question form {
  float: right;
}

.admin-question .edit-question {
  float:right;
}

.questions li {
  padding: 10px;
}

.question .author {
  font-style: italic;
  color: red;
}

.choices li {
  padding: 5px;
}

.admin-quiz form {
}

form .reset {
  margin: 0;
  padding: 0;
}

.email_users_list ul {
  list-style-type: none;
}

.email_users_list li {
  padding: 5px;
}
input.invite-all {
  margin-left: 30px;
}
.regular-radio {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 14px;
    margin:0 !important;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-radio:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);*/
    color: green;
}
.regular-radio:checked:after {
    content: '\2714';
    font-size: 25px;
    position: absolute;
    bottom: 0px;
    left: 4px;
    color: #00FF00;
}
.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}
#admin-quiz form{
  margin: 0;
  padding: 0;
  display: inline;
}
#admin-quiz form div {
  margin: 0;
  padding: 0;
  display: inline;
}