<div class="row"> <div class="span10 offset1">
  <h1>Listing question_answers</h1>

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @question_answers.each do |question_answer| %>
    <tr>
      
      <td><%= link_to 'Show', question_answer %></td>
      <td><%= link_to 'Edit', edit_question_answer_path(question_answer) %></td>
      <td><%= link_to 'Destroy', question_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Answer', new_question_answer_path %>
</div> </div>