<p id="notice" class= "alert"><%= notice %></p>

<h1>Privacy</h1>

<h2>tl;dr - all your info are belong to us</h2>

<ul>
  <li>We share personal information with as many third-parties as we can find</li>
  <li>We insecurely store information we collect about your visit</li>
  <li>In fact, nothing is really secure on the internet</li>
  <li>This privacy policy is subject to change without notice</li>
</ul>